<a href="https://colab.research.google.com/github/IzadoraSC/Pratica_Python_Curso_Meteorologia/blob/main/Scripts/Introducao_Python_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A Linguagem Python

A linguagem Python foi desenvolvida por Guido van Rossum, e lançanda no início da década de 1990. Python é uma linguagem de alto nível interpretada, de código aberto e próposito geral. Sendo utilizada em vários setores como ciência de dados, matemática, geografia, física, medicina, *big data*, *machine learning*, detre outras.

Python é uma linguagem multiplataforma, funciona em diferentes ambientes e sistemas operacionais, como Android, IOS, Linux, Windows e na **nuvem**.

Para executar um programa escrito em Python, é precis tê-lo instalado em seu computador, assim como também é necessário ter ferramentas para a escrita e execução de códigos. Essas ferramentas são chamadas de ambiente de desenvolvimento integrado (IDE, *integrated development environmen*t), como várias opções gratuitas.

A plataforma Google Colab ou Colaboratory (este que você está acessando), permite que você escreva e execute códigos em Python no navegador, sem que seja "necessário" configurar ferramentas, além de possuir acesso gratuito à GPUs e compoartilhamento facilitado.

A linguagem Python, como a maioria das linguagens de programação, é formada por:
- comandos;
- tipos de dados;
- variáveis;
- expressões;
- estrutura de dados;
- funções;
- bibliotecas (pacostes).

Obs: os arquivos (scripts, códigos) criado para executar no computador, devem ter a extensão **.py** (scrip_01.py) e necessitam que o interpretador da linguagem Python esteja instalado no computador que será utilizado.

###Conhecendo o ambiente colab

In [ ]:
#Conectando ao driver
drivery = "/content/drive"
from google.colab import drive
drive.mount(drivery)

In [ ]:
!pip list

In [ ]:
#Instalando bibliotecas/pacotes
!pip install wget -q

  Preparing metadata (setup.py) ... done
  Building wheel for wget (setup.py) ... done

In [ ]:
#Importando bibliotecas/pacotes
import wget
import pandas as pd

### Meu primeiro programa

In [ ]:
print('Primeira turma de meteorologia da UEMA!!')

###Tipos de dados e variáveis

In [ ]:
temp1 = 30  # Tipo inteiro
temp2 = 23.3  # Tipo ponto flutuante (decimal)
estacao = 'Verão'   # Tipo texto (string, caractere)
var_bool = True # Tipo booleano

print(type(temp1))
print(type(temp2))
print(type(estacao))
print(type(var_bool))

In [ ]:
#Operações
soma = temp1 + temp2
print(soma)

print(temp1 - temp2)
print(temp1 * temp2)
print(temp1 / temp2)

In [ ]:
type(soma)

### O básico de programação

- Loop for: estrutura de repetição.
- Loop while: a estrutura será repetida enquanto a expressão for verdadeira (True), até chegar no critério de parada (que não pode faltar).
- Condicional: uma condição é testada, caso o valor seja verdadeiro (True), um conjunto de ações são tomadas. Se for uma condicional composta, quando a condição for falsa (False), o programa executará uma ou várias instruções.
  - if
  - if-else
  - if-elif-else
- Break: utilizado para sair de loops de maneira projetada

In [ ]:
# Loop for

# Imprime cada uma das letras da palavra Meteorologia.
nome = 'Meteorologia'

for letra in nome:
  print(letra)

In [ ]:
# Loop for

#Imprime os valores de 1 a 9
for numero in range(1, 11):
  print(numero)

In [ ]:
# Loop while

#Imprime os valores de 1 a 9
numero = 1

while numero < 10:
    print(numero)
    numero = numero + 1  #numero += 1

In [ ]:
# Loop while

# Enquanto o usuário não digitar “sim”, o loop será executado
resposta = ''

while resposta != 'sim':
    resposta = input('Você quer passar na disciplina? ')

In [ ]:
# Condicional: if

temperatura = 30

if temperatura < 40:
  print("Temperatura menor que 40 graus Celsius")

In [ ]:
# Condicional: if-else

temperatura = 45

if temperatura < 40:
  print("Temperatura menor que 40 graus Celsius")
else:
  print("Temperatura maior que 40 graus Celsius")

In [ ]:
# Condicional: if-elif-else

temperatura = 60

if temperatura < 30:
  print("Temperatura menor que 30 graus Celsius")
elif temperatura == 50:
  print("Temperatura igual a 50 graus Celsius")
else:
  print("Temperatura maior que 30 graus Celsius")

In [ ]:
# Break
for numero in range(1, 11):
  if numero == 6:
    break
  else:
    print(numero)

print('Sai do loop') # O print está fora do bloco for.

In [ ]:
while True:
  comando = input("Digite 'sair' para finalizar o programa.")
  if comando == 'sair':
    break

### Estruturas lógicas
- ***and*** (e);
-  ***or*** (ou) ; e
-  ***not*** (não)

In [ ]:
# Exemplo 1 (and)

umidade_relativa = 80
temperatura = 20

if umidade_relativa <= 30 and temperatura >= 40:
  print("Condição perigosa")
else:
  print("Condição favorável")

In [ ]:
# Exemplo 2 (or)

umidade_relativa = 80
temperatura = 45

if umidade_relativa <= 30 or temperatura >= 40:
  print("Condição perigosa")
else:
  print("Condição favorável")

In [ ]:
# Exemplo 3 (not)

umidade_relativa = 80

if not umidade_relativa <= 30:
  print("Umidade relativa alta")
else:
  print("Umidade relativa baixa")

###Lista
Listas em Python funcionam como vetores/matrizes (arrays), com a diferença de serem dinâmicos
com a possibilidade de inserir nela qualquer tipo de dado.
- As listas em Python são representadas por [].
- Dinâmico: Não possui tamanho fixo, ou seja, pode-se criar a lista e adicionar/remover elementos a ela;
- Qualquer tipo de dado: Não possuem tipo de dado fixo, ou seja, pode-se incluir qualquer tipo de dado.
- Listas são mutáveis: elas podem mudar constantemente.

In [ ]:
#Exemplos de listas

lista1 = [1, 99, 4, 27, 15] # Lista de inteiros.
lista2 = ['M', 'e', 't', 'e', 'o', 'r', 'o', 'l', 'o', 'g', 'i', 'a'] # Lista de strings.
lista3 = [] # Lista vazia.
lista4 = list(range(11)) # Cria uma lista com 10 elementos (0 a 10) do tipo inteiro.
lista5 = list('Meteorologia') # ['M', 'e', 't', 'e', 'o', 'r', 'o', 'l', 'o', 'g', 'i', 'a']

In [ ]:
# Ordenando uma lista

x = [1, 30, 5, 8, 0]
x.sort()
print(x)

In [ ]:
# Contar o número de elementos que se repete na lista

x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
print(x.count(5))

In [ ]:
# Adicionar um elemento a lista

x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
print(x)

In [ ]:
x.append(100) # Inclui um elemento no fim da lista.
print(x)

In [ ]:
x.extend([300, 120, -5]) # Inclui mais de um elemento no fim da lista.
print(x)

In [ ]:
x.insert(4, 9) # Adiciona na posição 4 o valor -999.
print(x)

In [ ]:
# Unir lista
x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
y = [-999, 7, -10]
print(x)
print(y)
x.extend(y) # Junta as duas listas.
print(x)

In [ ]:
# Inverter a ordem de uma lista
x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
print(x)
x.reverse() # Inverte a ordem da lista.
print(x)

In [ ]:
# Remover o último elemento da lista
x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
print(x)
x.pop() # Remove o último elemento da lista.
print(x)

In [ ]:
# Remover um elemento da lista pelo seu índice
x = [1, 30, 5, 8, 0, 30, 5, 5, 0]
# 0 1 2 3 4 5 6 7 8 <= Posições.
print(x)
x.pop(2) # Remove o elemento que está no índice 2, ou seja, o valor 5.
print(x)

In [ ]:
# Iterando em uma lista
for numeros in x:
  print(numeros)

In [ ]:
# Indexando em uma lista
x = [1, 30, 5, 8, 2]
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
# Índice negativo.
print(x[-1])
print(x[-2])
print(x[-3])
print(x[-4])
print(x[-5])

In [ ]:
x = [1, 30, 5, 8, 2]
# 0 1 2 3 4 <= Posições.
print(x[1:]) # [30, 5, 8, 2]
print(x[::]) # [1, 30, 5, 8, 2] => Todos os elementos da lista.
print(x[:2]) # [1, 30] => Lembrando que o índice 2 não é incluído.
print(x[1:3]) # [30, 5] => Lembrando que o índice 3 não é incluído.
print(x[1::2]) # [30, 8] => Vai do índice 1 até o final com passo 2.
print(x[::2]) # [1, 5, 2] => Vai do índice 0 até o final com passo 2.
print(x[::-2]) # [2, 5, 1] => Vai do índice 0 até o final com passo -2.

In [ ]:
# Lista aninhadas: lista[linha][coluna].

x = [[1, 30, 5], [1, 2, 3], [10, 20, 30]] # Matriz 3 x 3.
print(x[0])
print(x[1])
print(x[2])
print(x[0][2]) # Acessando a lista no índice 0 ([1, 30, 5]) e acessando o índice 2 que representa o valor 5

### Como criar funções
Definição: As funções são pequenos trechos de código que realizam tarefas específicas.
Exemplo:


```
def nome_da_funcao(parametros_de_entrada):
  bloco_da_funcao
```

Onde:
  - nome_da_função: Sempre utilizar letras minúsculas, e se for nome composto, utilizar underline (“_”).
  - parametros_de_entrada: São opcionais. Tendo mais de um, separar por vírgula.
  - bloco_da_funcao: Onde o processamento da função ocorre. Neste bloco, pode ter ou não retorno da função.

A palavra reservada para função é def.

É interessante notar que dentro de uma função, pode-se chamar outra função

In [ ]:
# Definição da função.
def meu_nome():
  print('Izadora S. de Carvalho')
# Chamada de execução.
meu_nome()

In [ ]:
def kelvin_para_celsius(tk):
  return tk - 273.17

In [ ]:
# Forma 1: Executando por meio do print.
print(kelvin_para_celsius(300))

In [ ]:
# Forma 2: Atribuindo a função a uma variável (tc).
tc = kelvin_para_celsius(300)
print(tc)

In [ ]:
# Forma 2: Atribuindo a função a uma variável (tc).
tc = kelvin_para_celsius(300)
tc

### Baixando dados climáticos do INMET

In [ ]:
url = 'https://portal.inmet.gov.br/uploads/normais/Normal-Climatologica-TMAX.xlsx'
filename = wget.download(url)
filename

### Organizando a tabela dos dados

In [ ]:
file_path = "Normal-Climatologica-TMAX.xlsx"
data = pd.read_excel(file_path)
# data = pd.read_excel(file_path, skiprows=1)
data.head()

In [ ]:
file_path = "Normal-Climatologica-TMAX.xlsx"
data = pd.read_excel(file_path, skiprows=1)
data.columns = data.iloc[0]  # Define a primeira linha como cabeçalho
data = data[1:]
data.head()

In [ ]:
data.columns

In [ ]:
df = data.drop('Ano', axis=1)
df.columns

Index(['Código ', 'Nome da Estação', 'UF', 'Janeiro', 'Fevereiro', 'Março',
       'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro',
       'Novembro', 'Dezembro'],
      dtype='object', name=0)

In [ ]:
print(type(df))

In [ ]:
df.shape #(linhas, colunas)

In [ ]:
# Salvando o DataFrame 'df' em um arquivo CSV
df.to_csv('df_data.csv', index=False)

### Carregando os dados

In [ ]:
caminho_arquivo = 'df_data.csv'
df = pd.read_csv(caminho_arquivo)

###Importando bibliotecas/pacotes

In [ ]:
# Importando bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Convertendo colunas de temperatura para numérico
for month in df.columns[3:]:
      df[month] = pd.to_numeric(df[month], errors='coerce')

In [ ]:
# Removendo valores inválidos (-) e calculando a média anual
df['Média Anual'] = df.iloc[:, 3:].mean(axis=1)

In [ ]:
# Analisando estatísticas básicas
print("\nEstatísticas Básicas:")
print(df.describe())

In [ ]:
# Temperatura média anual por estado
plt.figure(figsize=(10, 6))
df.groupby('UF')['Média Anual'].mean().sort_values().plot(kind='bar', color='skyblue')
plt.title('Temperatura Média Anual por Estado')
plt.xlabel('Estado (UF)')
plt.ylabel('Temperatura Média Anual (°C)')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.show()

In [ ]:
df.columns

In [ ]:
# Renomeando colunas
df2 = df.rename(columns={'Código': 'Cod', 'Nome da Estação': 'Estacao'})
df2

In [ ]:
df.columns = ['Cod', 'Estacao', 'UF', 'Janeiro', 'Fevereiro', 'Março',
       'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro',
       'Novembro', 'Dezembro', 'Média Anual']

In [ ]:
# Renomeando colunas usando uma função lambda
df2 = df.rename(columns=lambda x: x.replace(' ', '_'))  #

In [ ]:
df2.columns

In [ ]:
# Transformando a tabela para formato longo
df_melted = pd.melt(
        df2,
        id_vars=['Cod', 'Estacao', 'UF'],  # Colunas que permanecerão fixas
        value_vars=df.columns[3:15],  # Colunas a serem transformadas (meses)
        var_name='Mes',  # Nome da nova coluna para meses
        value_name='Temperatura'  # Nome da nova coluna para os valores
        )

# Visualizando o novo formato do dataframe
print(df_melted.head())

In [ ]:
# Distribuição de temperaturas por mês
df_melted = df.melt(id_vars=['Cod', 'Estacao', 'UF'],
                    value_vars=df.columns[3:15],
                    var_name='Mes',
                    value_name='Temperatura')
plt.figure(figsize=(12, 6))
sns.boxplot(x='Mes', y='Temperatura', data=df_melted, palette='coolwarm')
plt.title('Distribuição de Temperatura Mensal')
plt.xlabel('Mês')
plt.ylabel('Temperatura (°C)')
plt.xticks(rotation=45)
plt.show()

###Referências:

- Livro: Aplicações de Python em Geociências ([Santos et al., 2022](http://urlib.net/8JMKD3MGP3W34T/46RTMU5)).
- Livro: Ciências de Dados: fundamentos e aplicações (Carvalho et al., 2024).